* {
    margin: 0%;
    overflow-x: hidden;
    position: relative;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #F3E0D1;
}

.container1 {
    background-color: #F3E0D1;
    display: flex;
    background-image: url(../img/menu.jpg);
    background-size: cover;
    width: 100%;
    height: 250px;
    background-position: center 20%;
}

.logo-fundo {
    background: linear-gradient(to right, #31221B 25%, transparent);
    width: 500px;
}

.logo {
    background-image: url(../img/gransabor.png);
    background-size: cover;
    height: 191px;
    width: 190px;
    margin-top: 30px;
    margin-left: 100px;
}

.menu {
    text-align: center;
    background-color: #31221B;
    padding: 15px 0;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.menu a {
    text-decoration: none;
    font-weight: bold;
    color: darkgray;
    font-family: "Open Sans", sans-serif;
    margin: 30px;
    transition: color 0.3s;
}

.menu a:hover {
    color: #F3E0D1;
    font-size: 19px;
}

.product {
    max-width: 75vw;
    padding: 50px;
    background: linear-gradient(to right, #31221B 40%, #F3E0D1 100%);
    transition: transform 500ms ease-in-out;
    margin: 40px 0;
    margin-left: auto;
    margin-right: auto;
    height: 15vw;
    overflow: hidden;
}

.texto h2 {
    font-size: 3vw;
    color: #d7ccc8;
    text-align: left;
    bottom: 16vw;
}

.texto p {
    font-size: 1.5vw;
    color: #d7ccc8;
    margin-top: 1vw;
    margin-right: 35vw;
    text-align:left;
    bottom: 16vw;
}

.texto a {
    color: #fa530c;
    text-decoration: none;
}

.product:hover,
.product-2:hover {
    transform: scale(1.2);
}

.product-2 {
    max-width: 75vw;
    padding: 50px;
    background: linear-gradient(to left, #31221B 40%, #F3E0D1 100%);
    transition: transform 500ms ease-in-out;
    margin: 40px 0;
    margin-left: auto;
    margin-right: auto;
    height: 15vw;
    overflow: hidden;
}

.texto-2 h2 {
    font-size: 3vw;
    color: #d7ccc8;
    text-align: right;
    bottom: 16vw;
}

.texto-2 p {
    font-size: 1.5vw;
    color: #d7ccc8;
    margin-top: 1vw;
    margin-left: 35vw;
    text-align:right;
    bottom: 16vw;
}

.texto-2 a {
    color: #fa530c;
    text-decoration: none;
}


.bolo {
    background-image: url(../img/Bolo-Confeitado.jpg);
    background-size: cover;
    width: 20vw;
    height: 15vw;
    border-radius: 10px;
    box-shadow: 0px 10px 20px 1px #31221B;
    margin-left: 53vw;
}

.brigadeiro {
    background-image: url(../img/Brigadeiro.jpg);
    background-size: cover;
    width: 20vw;
    height: 15vw;
    border-radius: 10px;
    box-shadow: 0px 10px 20px 1px #31221B;
    margin-left: 25px;
}

.caseirinho {
    background-image: url(../img/Caseirinho.jpeg);
    background-size: cover;
    width: 20vw;
    height: 15vw;
    border-radius: 10px;
    box-shadow: 0px 10px 20px 1px #31221B;
    margin-left: 53vw;
}

.copo-da-felicidade {
    background-image: url(../img/copo-da-felicidade.jpeg);
    background-size: cover;
    width: 20vw;
    height: 15vw;
    border-radius: 10px;
    box-shadow: 0px 10px 20px 1px #31221B;
    margin-left: 25px;
}


.cupcake {
    background-image: url(../img/cupcakes.jpeg);
    background-size: cover;
    width: 20vw;
    height: 15vw;
    border-radius: 10px;
    box-shadow: 0px 10px 20px 1px #31221B;
    margin-left: 53vw;
}

.donuts {
    background-image: url(../img/donuts.jpeg);
    background-size: cover;
    width: 20vw;
    height: 15vw;
    border-radius: 10px;
    box-shadow: 0px 10px 20px 1px #31221B;
    margin-left: 25px;
}


.texto-inicial {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.texto-inicial h1 {
    font-size: 100px;
    margin: 20px;
}

.texto-inicial p {
    font-size: 25px;
}

footer {
    background-color: #31221B;
    height: 50px;
}

footer h1 {
    color: aliceblue;
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}

@media (max-width: 768px) {

    nav a {
        display: flex;
        justify-content: start;
    }
    .texto-inicial {
        margin-left: auto;
        margin-right: auto;
    }
    .texto-inicial h1 {
        font-size: 6vw;
    }
    .texto-inicial p {
        font-size: 3vw;
    }

    .texto, .texto-2 {
        bottom: 9vw;
    }

    .texto h2 {
        font-size: 4vw;
        color: #d7ccc8;
        text-align: left;
        bottom: 16vw;
    }
    
    .texto p {
        font-size: 2.5vw;
        color: #d7ccc8;
        margin-right: 35vw;
        text-align:left;
        bottom: 16vw;
    }

    .texto-2 h2 {
        font-size: 4vw;
        color: #d7ccc8;
        text-align: right;
        bottom: 16vw;
    }
    
    .texto-2 p {
        font-size: 2.5vw;
        color: #d7ccc8;
        margin-top: 1vw;
        margin-left: 35vw;
        text-align:right;
        bottom: 16vw;
    }
}