* {
    margin: 0%;
    overflow-x: hidden;
}

header {
    background-color: #F3E0D1;
}

.container1 {
    background-color: #F3E0D1;
    display: flex;
    background-image: url(../img/menu.jpg);
    background-size: cover;
    width: 100%;
    height: 250px;
    background-size: cover;
    background-position: center 20%;
}

.container2 {
    height: 300px;
    background: linear-gradient(to left, #31221B 25%, transparent);
    padding-left: 100%;
    width: 500px;
    position: relative;
}

.container3 {
    height: 300px;
    background: linear-gradient(to right, #31221B 5%, transparent);
    padding-left: 100%;
    width: 500px;
    position: relative;
}

.container4 {
    height: 300px;
    background: linear-gradient(to left, #31221B 5%, transparent);
    padding-left: 100%;
    width: 500px;
    position: relative;
}

.container4 {
    height: 300px;
    background: linear-gradient(to right, #31221B 5%, transparent);
    padding-left: 100%;
    width: 500px;
    position: relative;
}

.container5 {
    height: 300px;
    background: linear-gradient(to left, #31221B 5%, transparent);
    padding-left: 100%;
    width: 500px;
    position: relative;
}

.container6 {
    height: 300px;
    background: linear-gradient(to right, #31221B 5%, transparent);
    padding-left: 100%;
    width: 500px;
    position: relative;
}

.container7 {
    height: 300px;
    background: linear-gradient(to right, #31221B 5%, transparent);
    padding-left: 100%;
    width: 500px;
    position: relative;
}

.logo-fundo {
    background: linear-gradient(to right, #31221B 25%, transparent);
    width: 500px;
}

.logo {
    background-image: url(../img/gransabor.png);
    background-size: cover;
    height: 151px;
    width: 150px;
    margin-top: 50px;
    margin-left: 100px;
}

.menu {
    text-align: center;
    background-color: #31221B;
    height: 25px;
    width: 100%;
}

.menu a {
    text-decoration: none;
    font-weight: bold;
    color: darkgray;
    font-family: "Open Sans", sans-serif;
    margin: 10px;
}

.bolo {
    background-image: url(../img/Bolo-Confeitado.jpg);
    background-size: cover;
    height: 200px;
    width: 300px;
    position: absolute;
    left: 1200px;
    bottom: 60px;
    border-radius: 10px;
    box-shadow: 0px 0px 12px 1px #F3E0D1;
}

.container2 h2 {
    position: relative;
    left: -1800px;
    bottom: 30px;
}

.brigadeiro {
    background-image: url(../img/Brigadeiro.jpg);
    background-size: cover;
    height: 200px;
    width: 300px;
    position: absolute;
    left: 1200px;
    bottom: 60px;
    border-radius: 10px;
    box-shadow: 0px 0px 12px 1px #F3E0D1;
}

.container3 h2 {
    position: relative;
    left: -1800px;
    bottom: 30px;
}

.caseirinho {
    background-image: url(../img/Caseirinho.jpeg);
    background-size: cover;
    height: 200px;
    width: 300px;
    position: absolute;
    left: 1200px;
    bottom: 60px;
    border-radius: 10px;
    box-shadow: 0px 0px 12px 1px #F3E0D1;
}

.container4 h2 {
    position: relative;
    left: -1800px;
    bottom: 30px;
}

.copo-da-felicidade {
    background-image: url(../img/copo-da-felicidade.jpeg);
    background-size: cover;
    height: 200px;
    width: 300px;
    position: absolute;
    left: 1200px;
    bottom: 60px;
    border-radius: 10px;
    box-shadow: 0px 0px 12px 1px #F3E0D1;
}

.container5 h2 {
    position: relative;
    left: -1800px;
    bottom: 30px;
}

.cupcake {
    background-image: url(../img/cupcakes.jpeg);
    background-size: cover;
    height: 200px;
    width: 300px;
    position: absolute;
    left: 1200px;
    bottom: 60px;
    border-radius: 10px;
    box-shadow: 0px 0px 12px 1px #F3E0D1;
}

.container6 h2 {
    position: relative;
    left: -1800px;
    bottom: 30px;
}

.donuts {
    background-image: url(../img/donuts.jpeg);
    background-size: cover;
    height: 200px;
    width: 300px;
    position: absolute;
    left: 1200px;
    bottom: 60px;
    border-radius: 10px;
    box-shadow: 0px 0px 12px 1px #F3E0D1;
}

.container7 h2 {
    position: relative;
    left: -1800px;
    bottom: 30px;
}

h2 {
    margin-top: 160px;
    text-align: center;
    font-size: 20px;
}

.texto {
    background-color: #F3E0D1;
    text-align: center;
}

.button {
    background-color: yellow;
    margin-top: 50px;
}

footer {
    background-color: #31221B;
    color: aliceblue;
    text-align: center;
    height: 250px;
}