* {
    margin: 0%;
    overflow-x: hidden;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #F3E0D1;
}

.container1 {
    background-color: #F3E0D1;
    display: flex;
    background-image: url(../img/menu.jpg);
    background-size: cover;
    width: 100%;
    height: 250px;
    background-size: cover;
    background-position: center 20%;
}

.logo-fundo {
    background: linear-gradient(to right, #31221B 25%, transparent);
    width: 500px;
}

.logo {
    background-image: url(../img/gransabor.png);
    background-size: cover;
    height: 191px;
    width: 190px;
    margin-top: 30px;
    margin-left: 100px;
}

.menu {
    text-align: center;
    background-color: #31221B;
    padding: 15px 0;
    width: 100%;
}

.menu a {
    text-decoration: none;
    font-weight: bold;
    color: darkgray;
    font-family: "Open Sans", sans-serif;
    margin: 30px;
    transition: color 0.3s;
}

.menu a:hover {
    color: #F3E0D1;
    font-size: 15px;
    border-color: black;
}

.product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 40px 0;
    margin-left: 200px;
    padding: 20px;
    background: linear-gradient(to right, #31221B 40%, #F3E0D1 100%);
    transition: transform 500ms ease-in-out;
}

.product:hover,
.product-2:hover {
    transform: scale(1.2);
}

.texto:hover {
    transform: scale(none);
}

.product-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: 40px 0;
    margin-left: 200px;
    padding: 20px;
    background: linear-gradient(to left, #31221B 40%, #F3E0D1 100%);
    transition: transform 500ms ease-in-out;
}

.bolo {
    background-image: url(../img/Bolo-Confeitado.jpg);
    background-size: cover;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0px 10px 20px 1px #31221B;
}

.brigadeiro {
    background-image: url(../img/Brigadeiro.jpg);
    background-size: cover;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0px 10px 20px 1px #31221B;
}

.caseirinho {
    background-image: url(../img/Caseirinho.jpeg);
    background-size: cover;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0px 10px 20px 1px #31221B;
}

.copo-da-felicidade {
    background-image: url(../img/copo-da-felicidade.jpeg);
    background-size: cover;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0px 10px 20px 1px #31221B;
}

.cupcake {
    background-image: url(../img/cupcakes.jpeg);
    background-size: cover;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0px 10px 20px 1px #31221B;
}

.donuts {
    background-image: url(../img/donuts.jpeg);
    background-size: cover;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0px 10px 20px 1px #31221B;
}

.texto-inicial {
    text-align: center;
    width: 1300px;
    margin-left: 160px;
}

.texto-inicial h1 {
    font-size: 100px;
    margin: 20px;
}

.texto-inicial p {
    font-size: 25px;
}

.titulo {
    color: #d7ccc8;
    font-size: 30px;
    margin-bottom: 200px;
}

.titulo h2 {
    margin-left: 350px;
}

.texto {
    color: #d7ccc8;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 600px;
    text-align: center;
    font-size: 25px;
    position: absolute;
}

.texto a {
    color: #9b7f73;
}

.texto-2 a {
    color: #9b7f73;
}

.titulo-2 {
    color: #d7ccc8;
    font-size: 30px;
    margin-bottom: 200px;
}

.titulo-2 h2 {
    margin-right: 300px;
}

.texto-2 {
    color: #d7ccc8;
    margin-top: 50px;
    margin-left: 400px;
    margin-right: 300px;
    text-align: center;
    font-size: 25px;
    position: absolute;
}

footer {
    background-color: #31221B;
    height: 60px;
}

footer h1 {
    color: aliceblue;
    text-align: center;
    margin-top: 10px;
}